<div class="intro h-screen w-full relative grid">
    <div class="z-10 place-self-center max-w-screen-md text-2xl leading-10 text-center">
        Congrats on making it to your final day! A few of us had some goodbye messages for you. So keep scrolling down and enjoy the rest!
    </div>
</div>

<style>
	@font-face {
		font-family: Pokemon;
		src: url("/PokmonDPPro.woff");
	}

	div {
		font-family: 'Pokemon';
	}
</style>
