<div class="intro h-screen w-full grid">
    <div class="place-self-center text-4xl">
        <div class="text-center mb-16 w-full">Goodbye!</div>
        
        <img src="/save.png" alt="saving" />
    </div>
</div>

<style>
	@font-face {
		font-family: Pokemon;
		src: url("/PokmonDPPro.woff");
	}

	div {
		font-family: 'Pokemon';
	}
</style>
