<div class="simple-bg w-screen h-screen fixed top-0 left-0 z-[-1]">
    <div class="icon-container z-10">
        <span class="icon bottom-7 right-10 absolute">
            <img src="/backpack.png" alt="backpack image" class="w-auto h-44" />
        </span>
        <span class="icon bottom-7 right-10 absolute">
            <img src="/bike.png" alt="bike image" class="w-auto h-48" />
        </span>
        <span class="icon bottom-7 right-10 absolute">
            <img src="/shoe.png" alt="shoe image" class="w-auto h-52" />
        </span>
    </div>
    <div class="poke-bubbles w-screen h-screen fixed top-0 left-0 opacity-80">
        <div class="bg-poke-white p-10 w-80 h-80 rounded-full absolute grid place-items-center top-[10%] left-[12%]">
            <img src="/sp1.png" alt="pokemon image" class="brightness-0 h-40 w-40" />
        </div>
        <div class="bg-poke-white p-10 w-80 h-80 rounded-full absolute grid place-items-center top-[70%] left-[22%]">
            <img src="/sp2.png" alt="pokemon image" class="brightness-0 h-40 w-40" />
        </div>
        <div class="bg-poke-white p-10 w-80 h-80 rounded-full absolute grid place-items-center top-[45%] right-[85%]">
            <img src="/sp3.png" alt="pokemon image" class="brightness-0 h-40 w-40" />
        </div>
        <div class="bg-poke-white p-10 w-80 h-80 rounded-full absolute grid place-items-center top-[35%] right-[10%]">
            <img src="/sp4.png" alt="pokemon image" class="brightness-0 h-40 w-40" />
        </div>
        <div class="bg-poke-white p-10 w-80 h-80 rounded-full absolute grid place-items-center top-[11%] right-[5%]">
            <img src="/sp5.png" alt="pokemon image" class="brightness-0 h-40 w-40" />
        </div>
    </div>
</div>

<script>
	import { gsap } from "gsap";

    import { ScrollTrigger } from "gsap/ScrollTrigger";
	
	gsap.registerPlugin(ScrollTrigger);
    
	gsap.set('.icon', { opacity: 0 });

    const bgAdmin = gsap.fromTo(
        ".poke-bubbles > div",
        {
            opacity: 0,
        },
        {
            opacity: 1,
            duration: 4,
            ease: "slow(0.9, 0.7, false)",
            paused: true,
            stagger: {
                from: "random",
                each: 3,
                repeat: -1,
                yoyo: true,
                ease: "power3.inOut",
            },
            scrollTrigger: {
                trigger: ".goodbye-container section:nth-child(2)",
                start: "top top", 
            },
        }
    );

    const tl = gsap.timeline({
        defaults: { ease: 'power3.inOut' },
        repeat: -1,
        paused: true,
        scrollTrigger: {
            trigger: ".goodbye-container",
            start: "top top", 
            end: "bottom top", 
            onLeave: ({progress, direction, isActive}) => {
                document.querySelector('.simple-bg').classList.add('hidden');
            },
            onEnterBack: ({progress, direction, isActive}) => {
                document.querySelector('.simple-bg').classList.remove('hidden');
            },
        },
    });

    tl.to(".icon:nth-child(1)", { opacity: 1, duration: 2 })
    tl.to(".icon:nth-child(1)", { opacity: 0, duration: 1, delay: 4})
    tl.to(".icon:nth-child(2)", { opacity: 1, duration: 2 }, "<")
    tl.to(".icon:nth-child(2)", { opacity: 0, duration: 1, delay: 4 })
    tl.to(".icon:nth-child(3)", { opacity: 1, duration: 2 }, "<")
    tl.to(".icon:nth-child(3)", { opacity: 0, duration: 1, delay: 4 })


</script>
